body{
	background-image:url("/img/glass.jpeg");
	font-family: 'Lato', sans-serif;

}

.jumbotron{
	background-color: rgba(0,0,0,0.5);
	color:white;
}

#the-slider img {
	width:100%;
}
html{
 
      background-image:url("/img/glass.jpeg");
}
.glyphicon-large{
	font-size: 30px;
}
